<!DOCTYPE html>
<html>
<head>
  <title>CatSlacks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({ google: ['Source Code Pro', 'Open Sans'] }) %>
  <meta name="viewport" content="initial-scale=1">
</head>
<body>

  <%= render 'layouts/navbar' %>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= render 'layouts/flashes' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
